.single-product #primary {
	padding: 0;
}

.woocommerce-grouped-product-list {
	display: flex;
	flex-direction: column;
}

#bouton-je-mabonne {
	display: block;
	margin: 1em auto;
}

.woocommerce-grouped-product-list-item {
	
	box-sizing: border-box;
	cursor: pointer;
	transition: all 150ms ease-out;
	padding: 0;
	transform: scale(1,1);
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	position: relative;
	background-color: #fff;
	z-index: 1;
	
	&.inactive {
		opacity: 0.8;
		transform: scale(0.9,0.9);
		cursor: pointer;
		background-color: $gris_ultra_light;
	}
	&.active {
		cursor: pointer;
		border: 1px $rouge solid;
		opacity: 1;
		transform: scale(1.05,1.05);
		padding: 0;
		z-index: 3;
	}	
}

.wc-grouped-product-add-to-cart-checkbox {
	position: absolute;
	opacity: 0;
	left: -999em;
}

.woocommerce-grouped-product-list-item__label {
	font-family: $rubik;
	font-size: 1.5em;
	text-transform: uppercase;
	a {
		text-decoration: none;
	}
}

.woocommerce-grouped-product-list-item__description {
	font-size: 13px;
	color: #000;
	max-width: 250px;
	margin: 0 auto;
}
.woocommerce .abo-thumbnail {
	width: 20%;
	height: 20%;
}
.abo-content {
	padding: 5px;
}



@media screen and (min-width:768px){
	.single-product #primary {
		padding: 0 1.45em;
	}

	.woocommerce-grouped-product-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
		& > li {
			display: block;
			flex: 0 0 1;
			text-align: center;
			max-width: 50%;
		}
		
	}	


	.woocommerce .abo-thumbnail {
		width: 100%;
		height: auto;
	}
	.abo-content {
		padding: 1em 0;
	}
}

@media screen and (min-width:1024px){
	.woocommerce-grouped-product-list {
		& > li {
			flex: 0 0 100%;
			max-width: 33%;
		}
		#product-11326, #product-11327 {
			flex: 0 0 100%;
			max-width: 50%;
		}
	}	
}