.single-product #primary {
	padding: 0;
}

.woocommerce-grouped-product-list {
	display: flex;
	flex-direction: column;
}



.woocommerce-grouped-product-list-item {
	
	box-sizing: border-box;
	cursor: pointer;
	transition: all 150ms ease-out;
	padding: 0 1em 2em;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	z-index: 1;
}
.abo_price_html {
	.price {
		font-size: 0.8em;
		display: block;
		text-transform: uppercase;
		margin: 10px 0;
		line-height: 1.1;
	}
}


.woocommerce-grouped-product-list-item__label {
	font-family: $rubik;
	font-size: 1.125em;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 1;
	a {
		text-decoration: none;
	}
}

div.woocommerce-grouped-product-list-item__description {
	p {
		font-size: 13px;
		//color: #000;
		margin: 0 auto;
		line-height: 1.3;	
	}
}

.woocommerce .abo-thumbnail {
	width: 70px;
	height: 70px;
	float: left;
}
.abo-content {
	margin-left: 90px;
	line-height: 1;
}

.woocommerce button.button.single_add_to_cart_button.alt {
	padding: 13px 18px;
	border-radius: 2px;
	font-weight: 500;
	margin-top: 2em;
}

@media screen and (min-width:736px){
	.single-product #primary {
		padding: 0 1.45em;
	}

	.woocommerce-grouped-product-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
		& > li {
			display: block;
			flex: 0 0 1;
			text-align: center;
			max-width: 50%;
		}
		
	}	

	.woocommerce-grouped-product-list-item {
		flex-direction: row;
	}

	.woocommerce .abo-thumbnail {
		width: 100%;
		height: auto;
		margin: 0;
		float: none;
	}
	.abo-content {
		padding: 1em 0;
		margin: 0 auto;
	}
	.woocommerce button.button.single_add_to_cart_button.alt {
/*
		padding: 13px 18px;
		border-radius: 2px;
		font-weight: 500;
*/
	}
}

@media screen and (min-width:1024px){
	.woocommerce-grouped-product-list {
		& > li {
			flex: 0 0 100%;
			max-width: 33%;
		}
/*
		#product-11847,
		#product-11848 {
			flex: 0 0 100%;
			max-width: 50%;
		}
*/
	}	
}
@media screen and (min-width:1280px){
	.woocommerce-grouped-product-list {
		& > li {
			flex: 0 0 100%;
			max-width: calc( 100% / 5 );
		}
	}	
}