.new-featured-slider--slide--row {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 780px) {
  .new-featured-slider--slide--row {
    flex-direction: row; }
    .new-featured-slider--slide--row > * {
      flex: 0 0 50%; } }
