@media screen and (min-width: 768px) {
  .post-agenda .lp-cover {
    max-width: 405px; } }

@media screen and (min-width: 980px) {
  .post-agenda {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin: 80px auto 120px; }
  .post-agenda .album-cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 405px;
    -webkit-box-align: start;
            align-items: flex-start; }
  .lp-metas {
    margin-left: 0; }
  .post-agenda .single-album-body {
    width: calc( 100% - ( 405px + 36px )); } }
