#main-menu-mobile {
	
	display: none;

	background: #fff;
	font-size: 1em;
	
	li { 
		padding: 5px 18px 5px 47px;
		border-bottom: 1px solid $gris_light;
		a {
			display: block;
			&::before {
				content: "› ";
			}
		}
	}
	&.open {
		display: block;
		position: absolute;
		top: 105px;
		width: 100vw;
		z-index: 5;
		@include wide-screen;
	}
}
@media screen and (min-width:375px){
	#main-menu-mobile {
		font-size: 1.2em;
	}
}
@media screen and (min-width:1024px){
	#main-menu-mobile{
		position: absolute;
		left: -999em;
	}	
}