#menu-top-container {
	font-family: $rubik;
	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul ul {
		//display: none;
	}
	
	ul {
		display: flex;
		justify-content: flex-start;	
		width: 100%;
		padding: 25px 0;
		align-items: center;
	}
	
	a {
		text-decoration: none;
		display: block;
		margin-left: 10px;
		text-transform: uppercase;
		font-size: 11px;
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
	
	.menu-item a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}

#panm-radio-bouton {
	.icon {
		width: 12px;
		height: 17px;
		margin: 0 8px 0 0;
		padding:0;
 		fill: #717171;
	}
}
#panm-connexion,
#panm-deconnexion,
#panm-signin,
#panm-account {
	.icon {
		width: 12px;
		height: 14px;
		fill: #717171;
		margin: 0 8px 0 0;
		padding:0;
	}	
}
#panm-search {
	.icon {
		width: 13px;
		height: 13px;
		fill: #717171;
		margin: 0 10px;
		padding:0;		
	}
}

#menu-top-container #menu-toggle-mobile {
	margin-left: 5px;
}

#menu-top-container #menu-top {
	
	#menu-panm {
		position: relative;
		width: 18px;
		height: 14px;
		padding: 0;
		margin-right: 5px;
		.burger {
			width:18px;
			height: 14px;
			cursor: pointer;
			display: block;
			position: absolute;
			left: -999em;
			margin: 0;
			svg.icon {
				fill: #717171;
				width: 18px;
				height: 14px;
			}
			&.active {
				position: static;
			}			
		}
		.cross {
			cursor: pointer;
			width:18px;
			height: 14px;
			display: block;
			position: absolute;
			left: -999em;
			margin: 0;
			svg.icon {
				fill: #717171;
			   width: 18px;
			   height: 14px;
			}
			&.active {
				position: static;
			}
		}
		
		#menu-item-125, #menu-item-5814 {
			> a {
				display: none;
			}
		}
		
		#top-sub-menu {
			margin: 0;
			padding:0;
			.sub-menu{
				display: none;
				flex-direction: column;
				align-items: flex-start;
				position: absolute;
				z-index: 2000;
				left: -16px;
				top: 25px;
				width: 150px;
				background: #fff;
				border: 1px solid $gris_light;
				padding: 10px 5px;
				li {
					a {
						display: block;
						padding: 2px 0;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	
	#menu-top-container {
		ul {
			justify-content: flex-end;
		}
	}
	
	#menu-top-container #menu-top #menu-toggle-mobile,
	#menu-top-container #menu-top #logo-mobile {
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	#menu-top-container #menu-top #menu-panm,
	#panm-signin,
	#panm-accoun {
		display: none;
	}
}

