#masthead {
	//border: 1px solid red;
}
#panm360-ghost {
	height: 85px;
	width: 100%;
}
#site-navigation {
	
	position: fixed;
	top:85px;
	left: -100%;
	width: 100%;
	height: calc( 100% + 85px );
	z-index: 5;
	background-color: #fff;
	overflow-y: scroll;
	transition: left 300ms ease-out;
	
	font-family: $rubik;
	font-size: 1em;
	
	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	a {
		color: $gris_dark;
		text-decoration: none;
	}
	&.open {
		left: 0;
		transition: left 300ms ease-out;
	}
}

#main-menu-mobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	
	font-size: 1.5em;
	
	li {
		padding: 0 18px;
	}
	
	ul.main-menu-level-1 {
		margin-top: 1em;
		> li > a {
			font-weight: 700;
		}
	}
	.sub-menu {
		font-size: 0.85em;
		a {
			line-height: 1em;
		}
	}	
}
#main-menu-desktop{
	position: absolute;
	left: -999em;	
}
	
.site-branding {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 85px;
	background-color: rgba(255,255,255,1);
	width: 100%;
	img {
		position: absolute;
		left: 18px;
		top: 18px;
	}
	.menu-toggle {
		position: absolute;
		top: 18px;
		right: 18px;
		z-index: 4;
	}
}

@media screen and (min-width:980px){
	#panm360-ghost {
		display: none;
	}
	.site-branding {
		position: static;
		padding: 0;
		width: auto;
		height: auto;
		background-color: transparent;
		img {
			position: static;
		}
		.menu-toggle {
			top: -999em;;
			right: -999em;
		}
	}
	#branding-navigation{
		display: flex;
		align-items: center;
	}

	#site-navigation {
		position: static;
		width: auto;
		height: auto;
		background-color: transparent;
		overflow: visible;
	}
	#main-menu-mobile{
		position: absolute;
		left: -999em;
	}
	#main-menu-desktop{
		position: static;
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: flex-start;
		text-transform: uppercase;		
		font-weight: 400;
		li {
			padding: 0 1em;

			&:nth-child(-n+4){
				a {
					color: #000;
					font-weight: 700;
				}
			}
			//nos-choix
			&:nth-child(1){
				a {
					border: 1px solid $gris_medium;
					border-radius: 5px;
					padding: 10px 14px;
					transition: background 300ms ease-out;
					color: $gris_medium;
					font-weight: 400;
					&:hover {
						background-color: $bleu;
						border-color: $bleu;
						color: #fff;
					}
				}
			}
		}
	}
	#sub-nav-desktop {
		
		width: 100vw;
		margin-left: calc( -100vw / 2 + 100% / 2);
	    margin-right: calc( -100vw / 2 + 100% / 2);
		max-width: 100vw;
		text-align: center;
		background-color: #333;
		opacity: 0;
		transition: opacity 300ms ease-out;
		color: $gris_light_alt;
		margin-top: 20px;
		
		div[class*='menu-'] {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			a::nth-child(1){
				display: none;
			}
		}
		a {
			display: block;
			padding: 15px 10px;
			color: $gris_light_alt;
			font-size: 0.9em;
			text-decoration: none;
			font-family: $rubik;
			&:hover {
				color: $gris_ultra_light;
			}
			
			&.current-menu-item {
				font-weight: 500;
				color: #fff;
			}
		}
		span {
			display: inline-block;
			padding: 0 10px;
		}
		&.active {
			opacity: 1;
			transition: opacity 300ms ease-out;
		}
	}

}