// Couleurs

$bleu: #5BC6E8;
$gris_ultra_light: #F4F4F8;
$gris_light:#E6E6EA;
$gris_light_alt:#b5b5b5;
$gris_medium:#808080;
$gris_dark: #4d4d4d;
$jaune:#FED766;
$rouge:#FE4A49;

$rubik: 'Rubik', sans-serif;
$open: 'Open Sans', sans-serif;

