img.lozad {
	min-width: 185px;
	min-height: 185px;
	opacity: 0;
	transition: opacity 300ms ease-out;
	
	&.img-loaded{
		opacity: 1;
		min-width: 1px;
		min-height: 1px;
	}
}

.element-title {
	font-size: 1em;
	line-height: 1.3;
	font-family: $rubik;
	font-weight: 700;
	color: #000;
	margin-bottom: 5px;
}

.artiste {
	font-size: 0.813em;
}

.genre {
	font-size: 0.625em;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
}

.details .author {
	font-size: 0.625em;
}

.album{
	//overflow-y: visible;
	text-align: center;
	.genre {
		margin-top: 20px;
	}
	.picture {
		border: 1px $gris_ultra_light solid;
		
	}
}

.element {
	margin-bottom: 36px;
	a {
		text-decoration: none;
		background: none !important;
		font-family: $rubik;
		&:hover {
			text-decoration: underline;
		}
	}
	.details {
		display: flex;
		flex-direction: column;
		padding: 0 1.125em;
		p {
			line-height: 1.4em;
			font-size: 0.938em;
		}
		.liste-genres {
			text-transform: uppercase;
		}
	}
	.picture {
		position: relative;
	}
	&.album {
		.details {
			padding: 1em 1.125em;
		}
	}
	
	&.article {
		
		&.article-interview {
			.author {
				display: block;
				border-top: 1px #ccc solid;
				padding-top: 0.8em;
				margin: 0 0 0.8em;				
			}
		}
		
		.details{
			padding-left: 	0;
			padding-right: 	0;
			padding-bottom: 0;

		}
		.element-title {
			margin-top: 1.5em;
			margin-bottom: 1em;
		 }
		
	}
	&.aside-item {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		border-bottom: 1px solid $gris_light;
		padding-bottom: 18px;
		margin-bottom: 18px;
		&:last-child{
			padding-bottom: 0;
			margin-bottom: 1em;
			border-bottom: none;
		}
		div.picture {
			
			width: 100px;
		}
		div.details {
			padding-left: 1.250em;
		}
		.genre  {
			font-weight: 400;
		}
		.liste-genre {
			font-size: 0.6em;
			text-transform: uppercase;
			padding-bottom: 5px;
		}
		
		.author {
			color: $gris_medium;
			margin-top: 5px;
		}
		.element-title {
			font-size: 0.875em;
		}
	}
	
	&.aside-item-calendrier{
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		align-content: center;
		font-family: $rubik;
		padding-top: 10px;
		margin-bottom: 10px;
		opacity: 1;
		transition: opacity 600ms ease-out;
		position: relative;
		&.hide-me {
			opacity: 0;
			transition: opacity 600ms ease-out;
		}

		&.out-dated {

			.date, .detail {

			}
			.detail {
				border-bottom: 1px solid $rouge;
			}
		}

		.date {
			align-self: flex-start;
			font-size: 12px;
			text-transform: uppercase;
			color: $gris_medium;
			margin-bottom: 1px;
			.medium{
				color: $gris_ultra_dark;
			}
		}
		.detail{
			display: flex;
			flex-direction: column;
			font-size: 0.813em;
			flex: 1 1;
			padding-right: 1.5em;
			padding-bottom: 20px;
			border-bottom: 2px solid $gris_ultra_light;
			height: 100%;
			color: $gris_medium;
			
			&.agenda-commente {
			}
		}
		.element-title {
			//font-size: 0.875em;
			margin: 2px 0;
			font-size: 1.125em;
			font-weight: 500;
		
		}
		.element-infos-supp {
			font-size: 0.95em;
			font-style: italic;
			line-height: 1.1;
			display: block;
			padding: 3px 0;
			color: $gris_medium;
		}
		.vignette {
			
			display:block;
			//margin-top:5px;
			width:50px;
			height:50px;
			margin-right: 20px;
			display: block;
			border-radius: 100px;
			
		}
		.link-vignette {
			//align-self: center;
		}
		.element-genre {
			color: $gris_medium;
		}
		.icon{
			width: 15px;
			height: 15px;
			margin-right: 1em;
			
		}
		#m-blanc-rond-rouge {
			width: 50px;
			height: 50px;
		}
		.icon.icon-agenda {
			width: 50px;
			height: 50px;
			
		}
		.element-prix {
			font-size: 0.750em;
			text-transform: uppercase;
			font-weight: 700;
		}
		//&:nth-child(even){
		//	background-color: #f9f9f9;
		//}
		
	}
	
	&.main-item  {
		
		.genre {
			font-size: 0.938em;
			font-weight: 400;
		}
		.picture {
			min-height: 250px;
		}
		.details {
			padding-left: 1.125em;
			padding-right: 1.125em;
		}
		.element-title {
			text-transform: uppercase;
			font-size: 2.375em;
			font-weight: 700;
			margin-top: .4em;
			margin-bottom: .4em;
			line-height: 1;
		}
		.sub-title {
			font-size:1.875em;
			font-family: $rubik;
			text-transform: uppercase;
			display: block;
			margin-bottom: .6em;
			
		}
		&.main-interview {
			.author {
				display: block;
				border-top: 1px #ccc solid;
				padding-top: 0.8em;
				margin: 0 0 0.8em;				
			}
		}
	}
	
	&.new-featured-slider--slide {
		margin-bottom: 0;
		text-align: center;
		.slide-content {
			padding: 3em 2.5em;
		}
		.genre {
			font-size: 0.938em;
			font-weight: 400;
		}
		.element-title {
			text-transform: uppercase;
			font-size: 2.375em;
			font-weight: 700;
			margin-top: .4em;
			line-height: 1;
		}
		.sub-title {
			font-size:1.875em;
			font-family: $rubik;
			font-weight: 300;
			color: #000;
			text-transform: uppercase;
			display: block;
			margin-bottom: .6em;
			
		}
		.author {
			font-size: 0.750em;
			color: #000;
			margin-bottom: 0;
			a {
				color: #000;
			}
		}
	}
}	

.section-content--has-4-columns {
	.element.article .details {
		padding-left: 0;
		padding-right: 1em;;
		background-color: transparent;
		padding-bottom: 0;
	}
}


.title-calendrier {
	background: $bleu;
	padding: 1.750em 30px 1em;;
	margin-bottom: 1em;
	h2 {
		margin: 0;
		font-size: 1.938em;
		line-height: 1.125em;
		color: #000;
	}
	span {
		color: #fff;
		//display: block;
		//font-weight: 700;
	}
}

.meta-name {
	display: inline-block;
	//width: 50px;
}

.iam-free {
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	
	background-color: $bleu;
	padding: 5px 10px;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.15);
	
	font-size: 10px;
	text-transform: uppercase;
	font-family: $rubik;
	font-weight: 700;
	line-height: 1;
	
	z-index:2;	
}
.aside-item-calendrier {
	.iam-free {
		position: static;
		transform: none;
		align-self: flex-start;
		margin: 5px 0 0 0;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

/* Single Album */
@import "single_record";
/* Single Agenda */
@import "single_agenda";
/* Single Interview */
@import "single_interview";

.lead {
	p {
		font-size: 19px;
    	font-family: $rubik;
    	font-weight: 500;
    	line-height: 1.3;		
	}
}
.intro-interview {
	p {
    	font-family: $rubik;
    	font-weight: 300;
    	line-height: 1.3;		
	}	
}
@media screen and(min-width:535px){
	
	.element {
		&.main-item {
			.details {
				padding-left: 0;
				padding-right: 0;
			}
		}
		
		&.album, &.article {
			.details {
				padding-left: 0;
				padding-right: 0;
			}
		}	
	}
	.album{
		max-width: calc( 50% - 18px);
		
	}
	.section-content--has-6-columns {
		.album {
			max-width: calc( 32.5% - 18px);
		}		
	}
	

}
@media screen and(min-width:690px){
	.element {
		&.main-item {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		& > * {
			width: calc( 50% - 18px );
		 }
		}
	}
	.section-content--has-6-columns {
		.album {
			max-width: calc( 23% - 18px);
		}		
	}
}
@media screen and(min-width:980px){
	.album{
		max-width: calc( 32.5% - 18px);
	}
		.main-item.element, .article.element{
		.iam-free {
			left: 20px;
			top: 20px;
			bottom: auto;
		}
	}
	
}

@media screen and(min-width: 780px) and (max-width: 980px){
	.element {
		&.main-item {
		flex-direction: column;
		& > * {
			width: 100%;
		 }
		}
	}
}
@media screen and (min-width:1024px) and (max-width: 1155px){
	.title-calendrier {
		h2{
			font-size: 1.550em;
		}
	}	
}
@media screen and(min-width:1024px){
	.title-calendrier {
		padding: 1.750em 50px;
	}
}
@media screen and(min-width:1280px){
	.album{
		max-width: 185px;
	}
	.element {
		&.main-item {
		flex-direction: row;
		& > * {
			width: calc( 50% - 18px );
		 }
		}
	}
	.section-content--has-6-columns {
		.album {
			max-width: calc( 15.8% - 18px);
		}		
	}
}

@supports(display: grid){

}