img.lozad {
	min-width: 185px;
	min-height: 185px;
	opacity: 0;
	transition: opacity 300ms ease-out;
	
	&.img-loaded{
		opacity: 1;
		min-width: 1px;
		min-height: 1px;
	}
}

.element-title {
	font-size: 1em;
	line-height: 1.3;
	font-family: $rubik;
	font-weight: 700;
	color: #000;
	margin-bottom: 5px;
}

.artiste {
	font-size: 0.813em;
}

.genre {
	font-size: 0.625em;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
}

.details .author {
	font-size: 0.625em;
}

.album{
	text-align: center;
	.genre {
		margin-top: 20px;
	}
}

.element {
	margin-bottom: 36px;
	a {
		text-decoration: none;
		font-family: $rubik;
		&:hover {
			text-decoration: underline;
		}
	}
	.details {
		display: flex;
		flex-direction: column;
		padding: 1em 0;
		p {
			line-height: 1.4em;
			font-size: 0.938em;
		}
		.liste-genres {
			text-transform: uppercase;
		}
	}
	
	&.article {
		.details{
			background-color: $gris_ultra_light;
			padding-left: 3.063em;
			padding-right: 3.063em;
			padding-bottom: 3.063em;
		}
		.element-title {
			margin-top: 1em;
			 margin-bottom: 1em;
		 }
		
	}
	&.aside-item {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		border-bottom: 1px solid $gris_light;
		padding-bottom: 18px;
		margin-bottom: 18px;
		&:last-child{
			padding-bottom: 0;
			margin-bottom: 1em;
			border-bottom: none;
		}
		div.picture {
			width: 100px;
		}
		div.details {
			padding-left: 1.250em;
		}
		.genre  {
			font-weight: 400;
		}
		.liste-genre {
			font-size: 0.6em;
			text-transform: uppercase;
			padding-bottom: 5px;
		}
		
		.author {
			color: $gris_medium;
			margin-top: 5px;
		}
		.element-title {
			font-size: 0.875em;
		}
	}
	
	&.aside-item-calendrier{
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		align-content: center;
		font-family: $rubik;
		padding-top: 10px;
		margin-bottom: 10px;
		opacity: 1;
		transition: opacity 600ms ease-out;
		
		&.hide-me {
			opacity: 0;
			transition: opacity 600ms ease-out;
		}

		&.out-dated {

			.date, .detail {

			}
			.detail {
				border-bottom: 1px solid $rouge;
			}
		}

		.date {
			align-self: flex-start;
			font-size: 12px;
			text-transform: uppercase;
			color: $gris_medium;
			margin-bottom: 1px;
			.medium{
				color: $gris_ultra_dark;
			}
		}
		.detail{
			display: flex;
			flex-direction: column;
			font-size: 0.813em;
			flex: 1 1;
			padding-right: 1.5em;
			padding-bottom: 20px;
			border-bottom: 2px solid $gris_ultra_light;
			height: 100%;
			color: $gris_medium;
			
			&.agenda-commente {
			}
		}
		.element-title {
			//font-size: 0.875em;
			margin: 2px 0;
			font-size: 1.125em;
			font-weight: 500;
		
		}
		.element-infos-supp {
			font-size: 0.95em;
			font-style: italic;
			line-height: 1.1;
			display: block;
			padding: 3px 0;
			color: $gris_medium;
		}
		.vignette {
			
			display:block;
			//margin-top:5px;
			width:50px;
			height:50px;
			margin-right: 20px;
			display: block;
			border-radius: 100px;
			
		}
		.link-vignette {
			//align-self: center;
		}
		.element-genre {
			color: $gris_medium;
		}
		.icon{
			width: 15px;
			height: 15px;
			margin-right: 1em;
			
		}
		#m-blanc-rond-rouge {
			width: 50px;
			height: 50px;
		}
		.icon.icon-agenda {
			width: 50px;
			height: 50px;
			
		}
		.element-prix {
			font-size: 0.750em;
			text-transform: uppercase;
			font-weight: 700;
		}
		//&:nth-child(even){
		//	background-color: #f9f9f9;
		//}
		
	}
	
	&.main-item  {
		.genre {
			font-size: 0.938em;
			font-weight: 400;
		}
		.element-title {
			text-transform: uppercase;
			font-size: 2.375em;
			font-weight: 700;
			margin-top: .4em;
		}
		.sub-title {
			font-size:1.875em;
			font-family: $rubik;
			text-transform: uppercase;
			display: block;
			margin-bottom: .6em;
			
		}
	}
	
	&.new-featured-slider--slide {
		margin-bottom: 0;
		text-align: center;
		.slide-content {
			padding: 3em 2.5em;
		}
		.genre {
			font-size: 0.938em;
			font-weight: 400;
		}
		.element-title {
			text-transform: uppercase;
			font-size: 2.375em;
			font-weight: 700;
			margin-top: .4em;
		}
		.sub-title {
			font-size:1.875em;
			font-family: $rubik;
			font-weight: 300;
			color: #000;
			text-transform: uppercase;
			display: block;
			margin-bottom: .6em;
			
		}
		.author {
			font-size: 0.750em;
			color: #000;
			margin-bottom: 0;
			a {
				color: #000;
			}
		}
	}
}	

.section-content--has-4-columns {
	.element.article .details {
		padding-left: 0;
		padding-right: 1em;;
		background-color: transparent;
		padding-bottom: 0;
	}
}

.title-calendrier {
	background: $bleu;

	padding: 1.750em 74px;
	margin-bottom: 1em;
	h2 {
		margin: 0;
		font-size: 1.938em;
		line-height: 1.125em;
		color: #fff;
	}
	span {
		color: #000;
		//display: block;
		//font-weight: 700;
	}
}

.meta-name {
	display: inline-block;
	//width: 50px;
}

/* Single Album */
@import "single_record";
/* Single Agenda */
@import "single_agenda";



@media screen and(min-width:535px){
	.album{
		max-width: calc( 50% - 18px);
	}
	.section-content--has-6-columns {
		.album {
			max-width: calc( 32.5% - 18px);
		}		
	}

}
@media screen and(min-width:690px){
	.element {
		&.main-item {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		& > * {
			width: calc( 50% - 18px );
		 }
		}
	}
	.section-content--has-6-columns {
		.album {
			max-width: calc( 23% - 18px);
		}		
	}
}
@media screen and(min-width:980px){
	.album{
		max-width: calc( 32.5% - 18px);
	}

}

@media screen and(min-width: 780px) and (max-width: 980px){
	.element {
		&.main-item {
		flex-direction: column;
		& > * {
			width: 100%;
		 }
		}
	}
}
@media screen and(min-width:1280px){
	.album{
		max-width: 185px;
	}
	.element {
		&.main-item {
		flex-direction: row;
		& > * {
			width: calc( 50% - 18px );
		 }
		}
	}
	.section-content--has-6-columns {
		.album {
			max-width: calc( 15.8% - 18px);
		}		
	}
}