.no-label {
	label, .gfield_label {
		position: absolute;
		left: -999em;
		opacity: 0;
	}
}

.gform_confirmation_message {
	//border: 1px solid red;
	margin: 1em 0 0;
	color: #fff;
	font-family: $rubik;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}