html,body{
	font-size: 1em;
	font-family: $open;
	width: 100%;
	height: 100%;
	color: $gris_dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2,h3,h4,h5.h6 {
	font-family: $rubik;
	font-size: 1em;
	font-weight: 500;
	margin: 0 0 1em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: $gris_dark;
}

.abracadabra-fixed {
	position:fixed !important;
	height: 1px;
	opacity: 0;
}

.hidden {
	position: absolute;
	left: -999em;
}

ul {
	padding: 0px;
	margin: 0 0 2em 0;
	list-style-type: none;
}
li {
	list-style-type: none;
}
p {
	padding: 0;
	margin: 0 0 2em 0;
}

h1.category-title {
	text-transform: uppercase;	
}


.section {
	margin-top: 120px;

}

.section-titre {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 	1.125em;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	span {
		//display: block;
		margin-right: .7em;
	}
	.icone {
		fill: $bleu;
		width: 19px;
		height: 27px;
	}
}

.wide-screen{
	margin-left: calc( -100vw / 2 + 100% / 2);
    margin-right: calc( -100vw / 2 + 100% / 2);	
}

.plus-de {
	font-family: $rubik;
	display: block;
	font-size: 0.68em;
	color: $bleu;
	text-align: right;
	
	.icone {
		//margin-left: 10px;
		width: 19px;
		height: 8px;
		fill: $bleu;
		transform: translateX(10px);
		transition: all .25s ease-out;
	}
	
	&:hover {
		text-decoration: underline;
		.icone {
			transform: translateX(15px);
		}
	}
}

.publicite{
	a {
		display: block;
		margin: 0 auto;
	}
	&.publicite-ilot {
		border: 1px solid $gris_light;
		margin: 2em 0;
		a {
			max-width: 300px;
			padding: 2em 0;
		}
	}
	&.publicite-banniere {
		margin-top: 120px;
		a {
			max-width: 728px;
		}
	}
}
