*,
*::after,
*::before {
	box-sizing: border-box;
}

html,body{
	font-size: 1em;
	font-family: $open;
	width: 100%;
	height: 100%;
	color: $gris_dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//overflow-x: hidden !important;
}

h1, h2,h3,h4,h5.h6 {
	font-family: $rubik;
	font-size: 1em;
	font-weight: 700;
	margin:0 0 1em 0;
	color: $gris_ultra_dark;
}

h1{
	font-size: 2.375em;
	text-transform: uppercase;
	line-height: 1;
}
h2 {
	font-weight: 300;
	font-size: 2.375em;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1;
	margin:0 0 .7em 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: $gris_dark;
}
.single .entry-content {
	overflow: hidden;
	p, ul, ol {
		a {
			text-decoration: none;
			background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($bleu,$bleu);
		    background-size: .05em 1px,.05em 1px,1px 1px;
		    background-repeat: no-repeat,no-repeat,repeat-x;
		    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
		    background-position: 0 95%,100% 95%,0 95%;
		    transition: color 300ms ease-out;
		}
		a:hover {
			color: $bleu;
			background: none;
			text-decoration: none;
		}
	}
	
}
p.lire-la-suite {
	a {
		display: block;
		font-size: 12px;
		font-weight: 700;
		font-family: $rubik;
		&::after {
			content:" »"
		}
	}
}
.has-text-align-center {
	text-align: center;	
}
.has-text-align-left{
	text-align: left;
}
.has-text-align-right {
	text-align: right;
}
.abracadabra-fixed {
	position:fixed !important;
	height: 1px;
	opacity: 0;
}

.hidden {
	position: absolute;
	left: -999em;
}
.light{
	font-weight: 300;
}
ul {
	padding: 0px;
	margin: 0 0 2em 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}
.hentry {
	li {
		list-style-type: disc;
		list-style-position: inside;
		padding-bottom: 1em;
	}
}
p {
	padding: 0;
	margin: 0 0 2em 0;
}

h1.category-title {
	text-transform: uppercase;	
}


.section {
	margin-top: 80px;

}
.page {
	.section {
		margin-top: 80px;
	
	}	
}

.section-titre {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 	1.125em;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	padding-left: 1.125em;
	span {
		//display: block;
		margin-right: .7em;
	}
	.icone {
		fill: $bleu;
		width: 19px;
		height: 27px;
	}
}
.home {
	.section-titre {
		display: none;
	}
}
.wide-screen{
	@include wide-screen;	
}

.plus-de {
	font-family: $rubik;
	display: block;
	font-size: 0.6em;
	color: $gris_ultra_dark;
	text-align: right;
	padding-right: 5px;
	text-transform: uppercase;
	margin: 0 1.125em;
	.icone {
		//margin-left: 10px;
		width: 19px;
		height: 8px;
		fill: $gris_ultra_dark;
		transform: translateX(8px);
		transition: all .25s ease-out;
	}
	
	&:hover {
		//text-decoration: underline;
		.icone {
			transform: translateX(13px);
		}
	}
}

.publicite{
	a {
		display: block;
		margin: 0 auto;
	}
	&.publicite-ilot {
		border: 1px solid $gris_light;
		margin: 2em 0;
		a {
			max-width: 300px;
			padding: 2em 0;
		}
	}
	&.publicite-banniere {
		margin-top: 60px;
		text-align: center;
		a {
			max-width: 728px;
		}
	}
}

.infolettre {
	background: $bleu;
	padding: 50px 1em;
	&.section {
		@include wide-screen;
	}
	.panm360-infolettre {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		
		.icon {
			height: 50px;
			width: 220px;
			margin: 1.250em 0;
		}
	}
	.infolettre-titre {
		color: #fff;
		text-transform: uppercase;
		font-size: 1.438em;
		line-height: 1em;
		display: block;
		width: 100%;
		text-align: center;
	}
}

//.entry-content {
	p {
		line-height: 1.6;
	}
//}

.wp-block-embed {
	margin: 0 0 2em 0;

}

.entry-content {
	iframe {
		display: block;
/*
		margin-top: 2.5em;
		margin-bottom: 2em;
*/
	}
}
.liste-pages {
	padding: 1em 0;
	border-top: 2px solid $gris_light;
	border-bottom: 2px solid $gris_light;
	margin: 0;
	width: 100%;
	li {
		list-style-type: none;
		padding: 0;
	}
	a {
		text-decoration: none;
		font-family: $rubik;
		font-weight: 500;
		color: $gris_ultra_dark;
		&:hover {
			text-decoration: underline;
		}
	}
}
.icones-de-partage {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1em 0;
	width: 100%;
	.reseau-partage {
		list-style-type: none;
		padding: 0;
	}
	svg {
		height: 22px;
		width: 22px;
		margin-right: 15px;
		fill: $gris_ultra_dark;
	}
}
.addthis_inline_share_toolbox {
	margin-top: 1em;
	.at-share-tbx-element .at-share-btn:focus,
	.at-share-tbx-element .at-share-btn:hover {
	    transform: none;
	}

}
#pages-liste-navigation {
	//border-bottom: 1px $gris_light solid;
	//border-top: 1px $gris_light solid;
	flex: 0 0 100%;
	max-width: none;
	padding: 0.5em 0;
	font-family: $rubik;
	font-weight: 700;
	font-size: 1.250em;
	.nav-links {
		display: flex;
		
	}
	a, span {
		color: $gris_ultra_dark;
	}
	a:hover {
		text-decoration: underline;
	}
	.page-numbers {
		//border: 1px solid red;
		padding: 3px 10px;
		border-radius: 5px;
		background-color: #fff;
	}
	.next, .prev {
		display: none;
	}
	.current {
		background-color: $bleu;
		color: #fff;
	}
}

.filtres-content-tabs {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin: 2em 0 0 0;
	h3 {
		margin: 0;
	}
	& > li {
		margin: 1em 0 0 0;
	}
	p {
		margin: 0;
		font-family: $rubik;
		font-size: .9em;
		font-weight: 500;
	}
}
.filtres-content {
	li {
		list-style-type: none;
	}
}
.filtrer-par {
	& > a {
		font-family: $rubik;
		font-size: .9em;
		font-weight: 500;
		display: inline-block;
		border: 1px solid $gris_medium;
		border-radius: 5px;
		padding: 5px 10px;
		cursor: pointer;
		&:hover {
			background: $gris_ultra_dark;
			color: #fff;
		}
	}
	p {
		display: none;
	}
}
.filtre-liste-tax{
	font-size: 0.80em;
	//text-align: center;
	font-weight: 400;
	font-family: $rubik;
	text-transform: capitalize;
	font-style: italic;
	padding-top: 1em;
	span, a {
		display: inline-block;
		padding: 0 4px;
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			color: #000;
		}
	}	
}
.filtre-list-genres {

}


.spacer-shadow {
	height:3vh;
	background: #fff;
	box-shadow: 0 10px 20px -10px rgba(0,0,0,0.10);
	width: 50%;
	margin: 0 auto;
}


/* LOADER */
.loader-filtre-genre {
  //display: inline-block;
  display: none;
  position: relative;
  width: 40px !important;
  height: 45px !important;
  //margin-left: 1em;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.loader-filtre-genre div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 8px !important;
  background: #fff;
  animation: loader-filtre-genre 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader-filtre-genre div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}
.loader-filtre-genre div:nth-child(2) {
  left: 16px;
  animation-delay: -0.12s;
}
.loader-filtre-genre div:nth-child(3) {
  left: 28px;
  animation-delay: 0;
}
@keyframes loader-filtre-genre {
  0% {
    top: 10px;
    height: 32px;
  }
  50%, 100% {
    top: 14px;
    height: 16px;
  }
}
/* END-LOADER */


.single-album-list {
	li {
		list-style-type: none;
	}
}

@media screen and (min-width:535px){
	.section-titre {
		padding-left: 0;
	}	
	.single .entry-content {
		overflow:auto;
	}
.plus-de {
	margin: 0;
}
}
@media screen and (min-width:600px){
	.filtres-content-tabs {
		flex-direction: row;
		align-items: center;
		align-content: center;
		h3 {
			margin: 0 1em 0 0;
		}
		& > li {
			margin: 0 1em 0 0;
		}
	}
}

@media screen and (min-width:780px){
.home {
	.section-titre {
		display: flex;
	}
}
}
@media screen and (min-width:980px){
	h1.entry-title {
		margin-top: 0;	
	}
	h2.sub-title{
		margin-top: 0;
	}
	.addthis_inline_share_toolbox {
		transform: scale(0.8,0.8) translateX(-20px);
	}
}
@media screen and (min-width:1280px){
	.infolettre{
		//background: $jaune;
		.panm360-infolettre {
			flex-direction: row;
			justify-content: center;
			align-content: center;
			.icon {
				margin: 0;
				margin-right: 1.6em;
			}
		}

		.infolettre-titre {
			width: auto;
			margin: 0 1em;
			flex: 0 0 auto;
			//color: $gris_ultra_dark;
		}
		button {
			//background: $jaune;
			//color: $gris_ultra_dark;
			//border: 1px solid $bleu;
		}

	}
}