*,
*::after,
*::before {
	box-sizing: border-box;
}

html,body{
	font-size: 1em;
	font-family: $open;
	width: 100%;
	height: 100%;
	color: $gris_dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//overflow-x: hidden !important;
}

h1, h2,h3,h4,h5.h6 {
	font-family: $rubik;
	font-size: 1em;
	font-weight: 700;
	margin:0 0 1em 0;
}

h1{
	font-size: 2.375em;
	text-transform: uppercase;
	line-height: 1;
}
h2 {
	font-weight: 300;
	font-size: 2.375em;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1;
	margin:0 0 .7em 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: $gris_dark;
}

.has-text-align-center {
	text-align: center;	
}
.has-text-align-left{
	text-align: left;
}
.has-text-align-right {
	text-align: right;
}
.abracadabra-fixed {
	position:fixed !important;
	height: 1px;
	opacity: 0;
}

.hidden {
	position: absolute;
	left: -999em;
}
.light{
	font-weight: 300;
}
ul {
	padding: 0px;
	margin: 0 0 2em 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}
.hentry {
	li {
		list-style-type: disc;
		list-style-position: inside;
		padding-bottom: 1em;
	}
}
p {
	padding: 0;
	margin: 0 0 2em 0;
}

h1.category-title {
	text-transform: uppercase;	
}


.section {
	margin-top: 80px;

}
.page {
	.section {
		margin-top: 80px;
	
	}	
}

.section-titre {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 	1.125em;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	span {
		//display: block;
		margin-right: .7em;
	}
	.icone {
		fill: $bleu;
		width: 19px;
		height: 27px;
	}
}

.wide-screen{
	@include wide-screen;	
}

.plus-de {
	font-family: $rubik;
	display: block;
	font-size: 0.68em;
	color: $bleu;
	text-align: right;
	
	.icone {
		//margin-left: 10px;
		width: 19px;
		height: 8px;
		fill: $bleu;
		transform: translateX(10px);
		transition: all .25s ease-out;
	}
	
	&:hover {
		text-decoration: underline;
		.icone {
			transform: translateX(15px);
		}
	}
}

.publicite{
	a {
		display: block;
		margin: 0 auto;
	}
	&.publicite-ilot {
		border: 1px solid $gris_light;
		margin: 2em 0;
		a {
			max-width: 300px;
			padding: 2em 0;
		}
	}
	&.publicite-banniere {
		margin-top: 120px;
		a {
			max-width: 728px;
		}
	}
}

.infolettre {
	background: $bleu;
	padding: 50px 1em;
	&.section {
		@include wide-screen;
	}
	.panm360-infolettre {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		
		.icon {
			height: 50px;
			width: 220px;
			margin: 1.250em 0;
		}
	}
	.infolettre-titre {
		color: #fff;
		text-transform: uppercase;
		font-size: 1.438em;
		line-height: 1em;
		display: block;
		width: 100%;
		text-align: center;
	}
}

.entry-content {
	p {
		line-height: 1.8;
	}
}
.liste-pages {
	padding: 1em 0;
	border-top: 2px solid $gris_light;
	border-bottom: 2px solid $gris_light;
	margin: 0;
	width: 100%;
	li {
		list-style-type: none;
		padding: 0;
	}
	a {
		text-decoration: none;
		font-family: $rubik;
		font-weight: 500;
		color: $gris_ultra_dark;
		&:hover {
			text-decoration: underline;
		}
	}
}
.icones-de-partage {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1em 0;
	width: 100%;
	.reseau-partage {
		list-style-type: none;
		padding: 0;
	}
	svg {
		height: 22px;
		width: 22px;
		margin-right: 15px;
		fill: $gris_ultra_dark;
	}
}
.addthis_inline_share_toolbox {
	margin-top: 1em;
	.at-share-tbx-element .at-share-btn:focus,
	.at-share-tbx-element .at-share-btn:hover {
	    transform: none;
	}

}
#pages-liste-navigation {
	//border-bottom: 1px $gris_light solid;
	//border-top: 1px $gris_light solid;
	flex: 0 0 100%;
	max-width: none;
	padding: 0.5em 0;
	font-family: $rubik;
	font-weight: 700;
	font-size: 1.250em;
	.nav-links {
		display: flex;
		
	}
	a, span {
		color: $gris_ultra_dark;
	}
	a:hover {
		text-decoration: underline;
	}
	.page-numbers {
		//border: 1px solid red;
		padding: 3px 10px;
		border-radius: 5px;
		background-color: #fff;
	}
	.next, .prev {
		display: none;
	}
	.current {
		background-color: $bleu;
		color: #fff;
	}
}

.filtres-content-tabs {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin: 2em 0 0 0;
	h3 {
		margin: 0;
	}
	& > li {
		margin: 1em 0 0 0;
	}
}
.filtres-content {
	li {
		list-style-type: none;
	}
}
.filtrer-par {
	& > a {
		font-family: $rubik;
		font-size: .9em;
		font-weight: 500;
		display: inline-block;
		border: 1px solid $gris_medium;
		border-radius: 5px;
		padding: 5px 10px;
		cursor: pointer;
		&:hover {
			background: $gris_ultra_dark;
			color: #fff;
		}
	}
	p {
		display: none;
	}
}
.filtre-liste-tax{
	font-size: 0.80em;
	//text-align: center;
	font-weight: 400;
	font-family: $rubik;
	text-transform: capitalize;
	font-style: italic;
	
	span {
		display: inline-block;
		padding: 0 4px;
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			color: #000;
		}
	}	
}
.filtre-list-genres {


}
.top-360-div {
	@include wide-screen;
	padding: 6em 1em 6em;
	background: $jaune url("../img/panm360-top.jpg") center center;
	background-size: cover;
	font-family: $rubik;
	
	.wp-block-group__inner-container {
		@include wide-screen;
		background: #fff;
		color: $gris_ultra_dark;
		max-width: none;
		width: 100vw;
		padding: 3em 1em 1em;
		p {
			text-align: center;
			font-size: 1em;
			line-height: 1.5;
			
		}
	}
}
@media screen and (min-width:980px){
	h1.entry-title {
		margin-top: 0;	
	}
	h2.sub-title{
		margin-top: 0;
	}
}
@media screen and (min-width:1280px){
	.infolettre{
		//background: $jaune;
		.panm360-infolettre {
			flex-direction: row;
			justify-content: center;
			align-content: center;
			.icon {
				margin: 0;
				margin-right: 1.6em;
			}
		}

		.infolettre-titre {
			width: auto;
			margin: 0 1em;
			flex: 0 0 auto;
			//color: $gris_ultra_dark;
		}
		button {
			//background: $jaune;
			//color: $gris_ultra_dark;
			//border: 1px solid $bleu;
		}

	}
}