.site {
	//padding: 0 1.125em;
}
#primary, #masthead{
	max-width:$max-width;
}
#content, #masthead, #primary {
	padding: 0 1.125em;
}
.section-content--has-6-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	> * {
		max-width: calc( 50% - 18px);
	}		
}

#pages-liste-navigation {
	flex: 0 0 100%;
}

.wp-block-group__inner-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}


@media (min-width: 535px){
	.section-content--main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		
		//display: grid;
		//grid-template-columns: 1fr 1fr;
		//grid-column-gap: 36px;
		//grid-row-gap: 36px;
		
		width: 100%;		
	}
	.section-content--has-3-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		> * {
			max-width: calc( 50% - 18px);
		}
	}
	.section-content--has-4-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		> * {
			max-width: calc( 50% - 18px);
		}		
	}
	
	.section-content--has-6-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		> * {
			max-width: calc( 32.5% - 18px);
		}		
	}

}
@media screen and (min-width: 600px){
	
	#primary, #masthead{
		margin: 0 auto;
	}
}

@media (min-width: 782px){
/*
	.wp-block-column:not(:first-child) {
    	margin-left: 36px;
	}
*/
	.section-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		> * {
			//border: 1px #ccc solid;
		}
		a {
			text-decoration: none;
		}
		.aside-content {
			width: 100%;
			max-width:calc( 50% - 18px);
		}
	}	
	.section-content--main {
		max-width: calc( 50% - 18px);
		
	}

}
@media (min-width: 980px){
	.section-content {
		.aside-content {
			width: 100%;
			max-width: 31.3%;
		}
	}
	.section-content--main {
		max-width: 65.7%;
		//grid-template-columns: 1fr 1fr 1fr;
	}
	.section-content--has-3-columns {
		> * {
			max-width: 31.5%;
		}
	}
	.section-content--has-4-columns {
		> * {
			max-width: 23%;
		}		
	}	
}
@media screen and(min-width:1280px){
	.section-content--main {
		//grid-template-columns: 1fr 1fr 1fr 1fr;
		
	}
	
}