.site {
	//padding: 0 1.125em;
}
#primary, #masthead{
	max-width:$max-width;
}
#content, #primary {
	padding: 0;
}
.single {
	#primary {
		padding: 0 1.125em;
	}	
}
#content.collapse {
	height: 1px;
	overflow: hidden;	
}
.section-content {
	display: flex;
	flex-direction: column-reverse;
	//order: 2;
	
}
.section--element {
	margin-bottom: 3em;
}
.section-content--has-6-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	
	padding: 0 1.125em;
	
	li {
		list-style-type: none;
	}
	& > * {
		max-width: calc( 50% - 18px);
	}	
}

.wp-block-group__inner-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.wp-block-gallery{
	&.columns-2{
		.blocks-gallery-grid {
			li {
				list-style-type: none;
			}
		}
	}
}

.content-list-articles--max-2-cols{
	padding: 0 1.125em;
}
	
@media (min-width: 535px){
	#content, #primary {
		padding: 0 1.125em;
	}
	.section-content--main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;		
	}
	.section-list-albums {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;		
	}
	.section-content--has-2-columns,
	.section-content--has-3-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		> * {
			max-width: calc( 50% - 18px);
		}
	}
	.section-content--has-4-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		> * {
			max-width: calc( 50% - 18px);
		}		
	}
	
	.section-content--has-6-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
		
		& > * {
			max-width: calc( 32.5% - 18px);
		}		
	}
	.wp-block-gallery{
		&.columns-2 {
			.blocks-gallery-grid {
				
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				> * {
					max-width: calc( 50% - 18px);
					
				}
				
			}
		}

	}
	.content-list-articles--max-2-cols{
		padding: 0;
	}
}
@media screen and (min-width: 600px){
	
	#primary, #masthead{
		margin: 0 auto;
	}
	.content-list-articles--max-2-cols{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		
		& > * {
			max-width: calc( 50% - 18px);
		}
	}
}
@media (min-width: 768px){
	.row--2 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		& > * {
			flex: 0 0 50%;
			max-width: calc( 50% - 18px );
		}
	}
}
@media (min-width: 782px){
	.section-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		> * {
			//border: 1px #ccc solid;
		}
		a {
			text-decoration: none;
		}
		.aside-content {
			width: 100%;
			max-width:calc( 50% - 18px);
		}		
	}	
	.section-content--main {
		max-width: calc( 50% - 18px);
		
	}
	.content-list-articles--max-2-cols{
		display: block;
		& > * {
			max-width: none;
		}
	}
}
@media (min-width: 980px){
	.section-content {
		.aside-content {
			width: 100%;
			max-width: 31.3%;
		}
	}
	.section-content--main {
		max-width: 65.7%;
	}
	.section-content--has-3-columns {
		> * {
			max-width: 31.5%;
		}
	}
	.section-content--has-4-columns {
		> * {
			max-width: 23%;
		}		
	}	
	.content-list-articles--max-2-cols{
		display: flex;
		& > * {
			max-width: calc( 50% - 18px);
		}
	}
}

@media screen and(min-width:1024px){
	#masthead {
		padding: 0 1.125em;
	}	
}
@media screen and(min-width:1280px){
	.section-content--main {
		
	}
	
}


@supports(display: grid){
	@media (min-width: 535px){
		.section-content--has-6-columns {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 36px;
			min-height: 0;  /* NEW */
			min-width: 0;   /* NEW; needed for Firefox */
			& > * {
				max-width: none;
			}
			.album {
				width: 100%;
				max-width: none !important;
				overflow: hidden;  /* NEW */
				min-width: 0;      /* NEW; needed for Firefox */
			}		
		}
	}
	@media screen and(min-width:690px){
		.section-content--has-6-columns {
			grid-template-columns: 1fr 1fr 1fr;		
		}
	}
	@media screen and(min-width:900px){
		.section-content--has-6-columns {
			grid-template-columns: 1fr 1fr 1fr 1fr;		
		}
	}
	@media screen and(min-width:1150px){
		.section-content--has-6-columns {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;		
		}
	}
	@media screen and(min-width:1280px){
		.section-content--has-6-columns {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;		
		}
	}
}