@import "variables";
#masthead {
	//border: 1px solid red;
}

#panm360-ghost {
	//height: 85px;
	//width: 100%;
	
}


#site-navigation {
	
	//position: fixed;
	//top:85px;
	//left: -100%;
	width: 100%;
	//height: 100vh;
	z-index: 5;
	background-color: #fff;
	//overflow-y: scroll;
	//transition: left 300ms ease-out;
	
	font-family: $rubik;
	font-size: 1em;
	
	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	a {
		color: $gris_dark;
		text-decoration: none;
	}

}
	
.site-branding {
	background-color: rgba(255,255,255,1);
	
	display: none;
	justify-content: space-between;
	img {
		position: absolute;
		left: 18px;
		top: 18px;
	}
}
#branding-navigation{
	//display: none;
	svg.icon {
		height: 60px;
		width: 250px;
		//border: 1px solid red;
		//transform: translateX(-15px);
	}
}
#logo-mobile {
	svg.icon {
		height: 44px;
		width: 200px;
	}	
}

.bouton-menu-toggle-mobile {
	svg {
		width: 24px;
		height: 18px;
	}
}
@import 'header/searchform';
@import 'header/menu_top';
@import 'header/menu_mobile';
@import 'header/menu_desktop';
@import 'header/submenu_desktop';

@media screen and (min-width:1024px){
	#panm360-ghost,.menu-toggle {
		display: none;
	}
	.site-branding {
		display: flex;
		position: static;
		padding: 0;
		width: auto;
		height: auto;
		background-color: transparent;
		img {
			position: static;
		}
		.menu-toggle {
			position: absolute;
			top: -999em;
		}
	}
	#branding-navigation{
		display: flex;
		align-items: center;
	}

	#site-navigation {
		position: static;
		width: auto;
		height: auto;
		background-color: transparent;
		overflow: visible;
	}
}
