
.single-agenda-date-genre {
	border-bottom: 2px solid $gris_ultra_light;
	border-top: 2px solid $gris_ultra_light;
	text-transform: uppercase;
	padding: 1em 0;
	span {
		font-family: $rubik;
	}
	.single-agenda-date {
		font-size: 1.250em;
		font-weight: 400;
	}
	.single-agenda-genre {
		font-size: 0.938em;
		font-weight: 400;
		color: $rouge;
		display: block;
	}
}
.single-agenda-salle-prix {
	border-bottom: 2px solid $gris_ultra_light;
	text-transform: uppercase;
	padding: 1em 0;
	margin-bottom: 24px;
	span {
		
		font-family: $rubik;
	}	
	.single-agenda-salle {
		font-size: 1em;
		//font-weight: 500;
		text-transform: none;
	}
	.single-agenda-prix {
		color: $bleu;
		font-weight: 700;
		display: block;
	}
}
.single-agenda--agenda-mini {
	display: none;
	width: 100%;
	margin-top: 2em;
	.title-calendrier {
		padding-left: 19%;
	}
}

.post-agenda {
	h1.entry-title {
		margin-bottom: 15px;
	}
}
.single-agenda-infos-sup {
	display: block;
	margin-bottom: 15px;
	font-style: italic;
	font-size: 1.1em;
}
@media screen and (min-width: 768px){
	.post-agenda {
		.album-cover {
			flex-direction: column;
			align-items: center;
		}
		.lp-cover {
			max-width: 405px;
		}		
	}
}

@media screen and (min-width: 980px){

	.single-agenda--agenda-mini {
		display: block;
	}
	.post-agenda {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		//max-width: 1064px;
		margin: 80px auto 120px;
	}
	.post-agenda .album-cover {
		flex-direction: column;
		width: 405px;
		align-items: flex-start;
		.post-thumbnail{
			width: 100%;
			img {
				width: 405px;
				max-width: none;
			}
		}
	}	
	.lp-metas{
		margin-left: 0;
	}
	.post-agenda .single-album-body {
		width: calc( 100% - ( 405px + 36px ));
	}
}

