.album-cover {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 2em;
}
.lp-metas {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	padding: 1em 0;
	border-top: 2px $gris_light solid;
	border-bottom: 2px $gris_light solid;
	width: 100%;
	a {
		font-weight: 700;
		text-decoration: none;
		padding-left: 4px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.lp-cover {
	margin-bottom: 1em;
}
.single-records {
	h1.entry-title {
		margin: 0 0 1em 0;	
	}
	span.sub-title{
		display: block;
		margin: 0 ;
		font-weight: 300;
		font-size: 2em;
		text-transform: uppercase;
	}
}

.single-album-body {
	.author {
		
		display: block;
		margin-bottom: 10px;
		font-size: 0.850em;
		font-family: $rubik;
		a {
			font-weight: 700;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
@media screen and (min-width: 768px){
	.album-cover {
		flex-direction: row;
		align-items: flex-end;
	}
	.lp-cover {
		max-width: 294px;
		margin-bottom: 0;
	}
	.lp-metas{
		
		width: 294px;
	}
	.lp-metas-addthis {
		margin-left: 36px;
	}
}

@media screen and (min-width: 980px){
	.post-album {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		//max-width: 1064px;
		margin: 80px auto 120px;
	}
	.album-cover {
		flex-direction: column;
		width: 294px;
		align-items: flex-start;
	}	
	.lp-cover {
		margin-bottom: 1em;
	}
	.lp-metas-addthis {
		margin-left: 0;
	}
	.single-album-body {
		width: calc( 100% - ( 294px + 36px ));
	}
	.single-records {
		h1.entry-title {
			margin: 0 0 1em 0;	
		}
	}
}