.single.single-interviews .entry-content {
	overflow: visible !important;
}

.post-interview {
	.chapeau-header {
		font-size: 1em;
		font-weight: 700;
		p {
			line-height: 24px;	
		}
	}
	
	.addthis_inline_share_toolbox {
		transform: none;
		margin: 0 0 1em;
	}
	
	.single-album-list {
		.album{
			text-align: left;
			margin-bottom: 0;
		}
		.album-author {
			@include screen-reader	
		}
		.album-genre {
			@include screen-reader				
		}
	}
}

#header_interview {
	font-size: 1em;
	
	.portrait{
		@include wide-screen;
		img {
			opacity: 0;
		}
	}
	h1 {
		padding: 20px 0 27px;
		border-bottom: 1px $gris_light solid;
		margin: 0;
	}
	.author{
		font-family: $rubik;
		font-size: 0.813em;
		padding: 27px 0;
		display: block;
	}
	
	.genre {
		display: inline-block;
		padding-top: 27px;
		font-size: 20px;
		text-transform: uppercase;
		a {
			text-decoration: none;
		}
	}
	
	.addthis_inline_share_toolbox {
		transform: none;
	}
}

.panm-columns-1 {
	.wp-block-column:nth-child(1){
		h4 {
			font-family: $rubik;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 1.3;
			margin: 1em 0 1em 0;
			padding: 0;
		}		
	}
}
.post-interview .entry-header{
	
	.plus-de {
		text-align: left;
		margin: 0 0 1.54em 0;
	}
	
}

.interview-header{
	.plus-de {
		text-align: left;
		margin: 1em;
	}
	
}

@media screen and (min-width: 768px){
	.post-interview {
		.single-album-list {
			.album{
				text-align: left;
			}
		}
	}
	.single.single-interviews{
		.panm-columns-1 {
			.wp-block-column {
				margin-top: 0;
			}
			.wp-block-column:nth-child(1) {
				max-width: 30%;
			}
		}	
			
	}

}

@media screen and (min-width: 1024px){
	.single.single-interviews{
		.panm-columns-1 {
			.wp-block-column:nth-child(1) {
				max-width: 22.89%;
			}
		}		
	}	
	#header_interview {
		margin: 60px 0 40px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: center;
		.portrait{
			flex: 0 0 50%;
			max-width: calc( 50% - 18px );
			margin-left: 0 !important;
			margin-right: 0 !important;
			//background: none !important;
			img {
				//opacity: 1;
				position: absolute;
				left: -999em;
			}
		}
		
		.genre {
			padding-top: 0;
		}
		.interview-header {
			flex: 0 0 50%;
			max-width: calc( 50% - 18px );
			min-height: 350px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	.interview-header{
		.plus-de {
			margin: 0;
		}
	}
}