#wrap-new-featured-slider {
	@include wide-screen;
	background-color: $gris_ultra_light;
	overflow: hidden;
	.slick-arrow {
		position: absolute;
		z-index: 20;
	}
}

#new-featured-slider {
	max-width: $max-width;
	margin: 0 auto;	
}

.new-featured-slider--slide--row {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: $max-width;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 3;
	cursor: pointer;
	transform: translateY(-50%);
	.icone {
		width: 28px;
		height: 28px;
	}
	
	&.slick-prev-arrow {
		left: 10px;
	}
	&.slick-next-arrow {
		right: 10px;
	}
}
@media screen and (min-width:980px) {
	.new-featured-slider--slide--row {
		flex-direction: row;
		align-items: stretch;
		> * {
			flex: 0 0 50%;
		}
	}
}