#liste-des-genres {
	//border: 1px red solid;
	width: 100%;
	margin-bottom: 50px;
	margin-top: -50px;
	//margin-left: -5px;
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		min-height: min-content;
		li {
			padding: 5px;
			flex-basis: 50%;
			a {
				background-color: $bleu;
				color: #fff;
				padding: 15px 10px;
				text-decoration: none;
				display: block;
				font-size: 0.8em;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: -0.05em;
				line-height: 1;
				&:hover {
					background-color: $gris_dark;
				}
				
				&.current-tax-genre {
					background-color: $gris_dark;
				}
			}
			
		}
		
	}
	
	.icone {
		border-radius: 200px;
		box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	}
	
	#slider-genres {
		opacity: 0;
		visibility: hidden;
		
		&.slick-initialized {
			opacity: 1;
			visibility: visible;
		}
	}
}

p.explore-genres {
	font-size: 1.1em;
	margin: 0 0 0.2em 5px;
	font-style: italic;
	text-transform: uppercase;
}
.tax-genre p.explore-genres{
	margin: 0 0 0.6em;
}
.current-genre {
	font-size: 0.7em;
	color:$bleu;
}

@media screen and (min-width:768px){
	#liste-des-genres {
		
		ul {
			li {
				flex: 0 0 25%;	
			}
		}
	}
}
@media screen and (min-width:782px){
	#liste-des-genres {
		margin-top: -5px;
		margin-left: -5px;
	}
}
@media screen and (min-width:782px) and (max-width: 980px){
	#liste-des-genres {
		
		ul {
			li {
				flex: 0 0 50%;

			}
		}
	}	
}

@media screen and (min-width:980px){
	#liste-des-genres {
		
		ul {
			li {
				flex: 0 0 25%;	
				a {
					font-size: 0.6em;
				}
			}
		}
	}
}

@media screen and (min-width:1130px){
	#liste-des-genres {
		ul {
			li {
				flex: 0 0 25%;	
				a {
					font-size: 0.8em;
				}
			}
		}
	}
}