#wrap-new-featured-slider {
	@include wide-screen;
	background-color: $gris_ultra_light;
	overflow: hidden;
	.slick-arrow {
		position: absolute;
		z-index: 20;
	}
}

#new-featured-slider {
	max-width: $max-width;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 300ms ease-out;
	position: absolute;
	left: -999em;
	
	&.slick-initialized {
		opacity: 1;
		position: relative;
		left: auto;
		height:100%;
		.slick-arrow {
			position: absolute;
			z-index: 20;
		}
	}
	
	.slick-track {
		display: flex !important;
	}
	.slick-slide {
		height: inherit !important;
	}
}
.new-featured-slider--slide {
	height: 100%;
}
.new-featured-slider--slide--row {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: center;
	max-width: $max-width;
	height: 100%;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 3;
	cursor: pointer;
	transform: translateY(-50%);
	.icone {
		width: 28px;
		height: 28px;
	}
	
	&.slick-prev-arrow {
		left: 10px;
	}
	&.slick-next-arrow {
		right: 10px;
	}
}

.new-featured-slider--slide--content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100%;
}
@media screen and (min-width:980px) {
	
	.new-featured-slider--slide--row {
		flex-direction: row;
		align-items: stretch;
		> * {
			flex: 0 0 50%;
			min-height: 350px;
		}
	}
	.new-featured-slider--slide--content {
		.excerpt {
			padding: 0 1em;
		}
	}	
}