#text-introduction-panm360 {
	
	background: #fff;
	padding: 5em 10em 3em;
	margin: 0 auto;
	color: #333;
	font-size: 22px;
	line-height: 30px;
	.wp-block-group__inner-container{
		p {
			text-align: center;
		}	
	}
	

}
#top-360-hero {
	background: $gris_ultra_light url('../img/panm360-top.jpg') center center no-repeat;
	background-size: cover;
	width: 100vw;
	margin-left:  -1.125em;
	padding: 4em;
	height: 50vh ;
}

h2.annee-top {
	font-size: 1.9em;
	margin-bottom: 0.5em;
}


@media screen and (min-width: 980px){
	#top-360-hero {
		//margin-left:  -1.125em;
	}
}