// Couleurs

$bleu: #5BC6E8;
$gris_ultra_light: #F4F4F8;
$gris_light:#E6E6EA;
$gris_light_alt:#b5b5b5;
$gris_medium:#808080;
$gris_dark: #4d4d4d;
$gris_ultra_dark: #333333;
$jaune:#FED766;
$rouge:#FE4A49;

$rubik: 'Rubik', sans-serif;
$open: 'Open Sans', sans-serif;

// 1366px;
//$max-width: 80.250em;
$max-width: 83em;
@mixin wide-screen{
	margin-left: calc( -100vw / 2 + 100% / 2) !important;
	margin-right: calc( -100vw / 2 + 100% / 2) !important;
}