.woocommerce-notices-wrapper {
	display: none;
}

.woocommerce-account .woocommerce-notices-wrapper {
	display: block;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border: none;
    padding: 0 1.125em;
    margin: 2em 0;
    text-align: left;
    border-radius: none;
}

.woocommerce form.login {
	//max-width: 400px;
	.form-row {
		display: flex;
		flex-direction: column;
	}
	button {
		margin: 1em 0;
	}
}

.woocommerce-LostPassword {
	font-size: .800em;
	font-weight: 700;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .bouton.edit,
.woocommerce #respond input.edit#submit.alt,
.woocommerce a.edit.button.alt,
.woocommerce button.edit.button.alt,
.woocommerce input.edit.button.alt,
.woocommerce .is-style-plus-infos a.edit,
.is-style-plus-infos .woocommerce a.edit,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .bouton.edit {
	float: none;
	font-family:$rubik;
	color: #fff;
	background: $gris_ultra_dark;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	border: 1px $gris_dark solid;
	border-radius: 5px;
	line-height: 1;
	padding: 16px 36px;
	transition: all .3s ease-out;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		box-shadow: 0px 0px 0px 2px #add9e7;
		border-color: $bleu;
		border-color: #fff;
	}
}

.woocommerce button[type="submit"]{
	margin: 10px 0;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .bouton.edit,
.woocommerce #respond input.edit#submit.alt,
.woocommerce a.edit.button.alt,
.woocommerce button.edit.button.alt,
.woocommerce input.edit.button.alt,
.woocommerce .is-style-plus-infos a.edit,
.is-style-plus-infos .woocommerce a.edit,
.woocommerce-MyAccount-paymentMethods a.button,
.subscription_details, .order_details a.button,
.woocommerce .bouton.edit {
	
	padding: 10px;
	font-size: 12px;
	font-weight: 400;
	color: $gris_medium;
	border-color: $gris_medium;
	background-color: #fff;
	//margin-left: 10px;
	
}
.woocommerce-MyAccount-paymentMethods a.button {
	//display: inline-block;
	margin-bottom: 5px;
}
.woocommerce .bouton.edit {
	display: inline-block;
	margin: 1em 0 0;
}
.woocommerce-Address {
	address {
		font-style: normal;
		font-weight: 500;
		font-family: $rubik;
		font-size: 0.8em;
	}
}

.payment-method-method,
.payment-method-expires {
	font-size: 0.750em;
	font-weight: 700;
}

.woocommerce table.shop_table_responsive tr td.payment-method-actions,
.woocommerce-page table.shop_table_responsive tr td.payment-method-actions {
	&::before {
		content: none;
	}
}
.woocommerce-MyAccount-navigation {
	padding: 1em 1.125em;
	border-top: 1px solid $gris_light;
	border-bottom: 1px solid $gris_light;
	ul {
		margin: 0;
	}
	li {
		list-style-type: none;
		padding: 0;
		margin-bottom: 0;
		font-family: $rubik;
		a {
			font-size: 0.900em;
			font-weight: 500;
			text-decoration: none;
			
		}
		&::before {
			content:"» ";
		}
	}
	
}

.hentry .wc_payment_method{
	list-style-type: none;
	margin-bottom: 0;
	padding-bottom: 0;
	
	&.payment_method_netbanx {
		label {
			img {
				display: inline-block;
			}
		}	
	}
	
	.payment_box.payment_method_netbanx {
		margin-bottom: 0;
		p {
			margin: 0;
			font-size: 0.750em;
		}
	}
	
} 

.woocommerce-privacy-policy-text {
	font-size: 0.750em;
	font-weight: 700;
	line-height: 1.3;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	float: none;	
}


.woocommerce-account {
	h2 {
		font-size: 1.250em;
		text-transform: none;
		font-weight: 500;
		color: #000;
	}
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="url"],
	input[type="password"],
	input[type="tel"],
	select,
	textarea {
		padding: 10px;
		display: block;
		border: 1px solid $gris_medium;
		background-color: transparent;
		width: 100%;
		border-radius: 3px;
		font-size: 0.8em;
	}
	
	fieldset {
		border: 1px solid $gris_medium;
		border-radius: 3px;
		background-color: $gris_ultra_light;
		legend {
			font-size: 0.8em;
			font-weight: 500;
		}
		input[type="password"] {
			background-color: #fff;
		}
	}

}
.woocommerce-MyAccount-content {
	& > * {
		max-width: 610px;	
	}
	
}

.woocommerce .order_details {
	font-weight: 700;
	font-size: 0.750em;
	.order_item .product-name a{
		color: $bleu;
	}
	.wcs-switch-link{
		color: $gris_medium !important;
		margin: 10px 0;
	}
}

.woocommerce-form-row em {
	font-size: 0.750em;
}
@media screen and (min-width:535px){
	.woocommerce form.checkout_coupon,
	.woocommerce form.login,
	.woocommerce form.register {
		padding: 0;
    }
    .woocommerce form.login {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    .form-row-wide {
		    flex: 0 0 50%;
	    }
    }
}

@media screen and (min-width:768px){

.woocommerce table.shop_table_responsive tr td.payment-method-actions,
.woocommerce-page table.shop_table_responsive tr td.payment-method-actions {
/*
	&::before {
		content: attr(data-title) ": ";
	}
*/
}
}
@import "woocommerce/product";