.woocommerce-notices-wrapper {
	display: none;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border: none;
    padding: 0 1.125em;
    margin: 2em 0;
    text-align: left;
    border-radius: none;
}

.woocommerce form.login {
	//max-width: 400px;
	.form-row {
		display: flex;
		flex-direction: column;
	}
	button {
		margin: 1em 0;
	}
}

.woocommerce-LostPassword {
	font-size: .800em;
	font-weight: 700;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	font-family:$rubik;
	color: #fff;
	background: $gris_ultra_dark;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	border: 1px $gris_dark solid;
	border-radius: 5px;
	line-height: 1;
	padding: 16px 36px;
	transition: all .3s ease-out;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		box-shadow: 0px 0px 0px 2px #add9e7;
		border-color: $bleu;
		border-color: #fff;
	}	
}

.woocommerce-MyAccount-navigation {
	li {
		list-style-type: none;
		padding: 0;
		margin-bottom: 0;
		a {
			font-size: 0.750em;
			font-weight: 700;
			text-decoration: none;
		}
	}
	
}

.hentry .wc_payment_method{
	list-style-type: none;
	margin-bottom: 0;
	padding-bottom: 0;
	
	&.payment_method_netbanx {
		label {
			img {
				display: inline-block;
			}
		}	
	}
	
	.payment_box.payment_method_netbanx {
		margin-bottom: 0;
		p {
			margin: 0;
			font-size: 0.750em;
		}
	}
	
} 

.woocommerce-privacy-policy-text {
	font-size: 0.750em;
	font-weight: 700;
	line-height: 1.3;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	float: none;	
}

/* abonnements */
.woocommerce-grouped-product-list {
	display: flex;
	flex-direction: column;
}

#bouton-je-mabonne {
	display: block;
	margin: 1em auto;
}

.woocommerce-grouped-product-list-item {
	border: 1px solid $gris_dark;
	cursor: pointer;
}
/* !abonnements */
@media screen and (min-width:535px){
	.woocommerce form.checkout_coupon,
	.woocommerce form.login,
	.woocommerce form.register {
		padding: 0;
    }
    .woocommerce form.login {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    .form-row-wide {
		    flex: 0 0 50%;
	    }
    }
}

@media screen and (min-width:768px){
	.woocommerce-grouped-product-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
		& > li {
			flex: 0 0 1;
			max-width: calc( 50% - 18px );
			text-align: center;
		}
		
		#product-6972 {
			flex: 0 0 100%;
			max-width: none;
		}
	}	
}

@media screen and (min-width:1024px){
	.woocommerce-grouped-product-list {
		& > li {
			flex: 0 0 100%;
			max-width: calc( 33% - 18px );
		}
	}	
}